@import './variables.css';

*, *::before, *::after {
    box-sizing: border-box;
    font-family: var(--font-family), sans-serif;
    font-weight: var(--font-weight);
}

body {
    padding: 0;
    margin: 0;
    background: var(--dark-bg-gradient);
}

.output {
    background-color: var(--output-bg-dark);
    color: var(--output-text-dark);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    min-width: 400px;
    max-width: 400px;
    min-height: 100px;
}

.output .display {
    font-size: 2.5rem;
    text-align: right;
}

.calculator-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.controls {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(4, 100px);
    background-color: var(--output-bg-light);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.controls > button {
    cursor: pointer;
    font-size: 2rem;
    border: var(--button-border-dark);
    color: var(--output-text-dark);
    background-color: var(--button-bg-dark);
    outline: none;
}

.controls > button:hover {
    background-color: var(--button-hover-dark);
}

.span-two {
    grid-column: span 2;
}

/* Light Theme Styles */
.light-theme {
    --dark-bg-gradient: var(--light-bg-gradient);
    --output-bg-dark: var(--output-bg-light);
    --output-text-dark: var(--output-text-light);
    --button-border-dark: var(--button-border-light);
    --button-bg-dark: var(--button-bg-light);
    --button-hover-dark: var(--button-hover-light);
}

.light-theme .theme-toggle {
    background-color: var(--theme-toggle-bg-light);
}

.light-theme .checkbox-label {
    background-color: var(--checkbox-bg-light);
    border: var(--checkbox-border-dark);
}

.light-theme .checkbox-label .ball {
    background-color: var(--checkbox-ball-light);
}

/* Theme Toggle Styles */
.theme-toggle {
    padding: 5px;
    background-color: var(--theme-toggle-bg-dark);
    border-radius: 10px 10px 0 0;
    min-width: 400px;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: var(--checkbox-bg-dark);
    border: var(--button-border-light);
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-label .ball {
    background-color: var(--checkbox-ball-dark);
    width: 20px;
    height: 20px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}
